body {
  background-color: #121212;
  color: #ffffff;
  font-family: Audiowide;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  padding: 15px;
  position: relative;
}

.evento-logo {
  height: 40px;
  margin-right: 10px;
}

.evento-nome {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

/* Estilização do Menu Hamburguer */

.menu__btn {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.close__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #1f1f1f;
  transition: left 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 8%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #333;
}

.sidebar.active {
  left: 0;
}

/* Seção de Inscrição */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inscricao__container {
  background: #1f1f1f;
  padding: 30px;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px 0;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
}

.input__campo {
  margin-bottom: 15px;
  text-align: left;
  width: 90%;
}

.input__campo label {
  color: #fff;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input__campo input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inscricao__btn {
  width: 100%;
  padding: 10px;
  background: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.inscricao__btn:hover {
  background: #357ae8;
}

.mensagem__sucesso {
  color: #007bff;
  font-weight: bold;
  margin-top: 10px;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: white;
  width: 100%;
}

footer p{
  font-size: x-large;
}

.apoio-logo {
  max-width: 150px;
  margin-top: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .evento-nome {
    font-size: 16px;
  }

  .inscricao__container {
    width: 90%;
  }
}
