body {
  background-color: #121212;
  color: #ffffff;
  font-family: Audiowide;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

/* Animação do background da tela  */

#matrix {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  mix-blend-mode: hard-light;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  padding: 10px 15px;
  position: relative;
}

.evento-logo {
  height: 30px;
  margin-right: 10px;
}

.evento-nome {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-texto {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.evento-nome {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.evento-local {
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(to right, blue, yellow, red, green);
  background-clip: text;  /* Adicionado para melhorar a compatibilidade com navegadores que não usam prefixo.*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Estilização do Menu Hamburguer */

.menu__btn {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.close__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #1f1f1f;
  transition: left 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 8%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #333;
}

.sidebar.active {
  left: 0;
  opacity: 1;
  transform: translateX(0);
}

/* Seção de Inscrição */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.inscricao__container {
  background: #1f1f1f;
  padding: 20px;
  width: 95%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
}

.input__campo {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

.input__campo label {
  color: #fff;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.input__campo input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.inscricao__btn {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  background: #4285f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-family: Audiowide;
  transition: background-color 0.3s ease;
}

.inscricao__btn:active {
  transform: scale(0.95);
  transition: transform 0.2s ease;
}

/* Estilização da contagem regressiva para o evento */

#countdown {
  text-align: center;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

#countdown h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

#timer {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.time__box {
  color: #fff;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  width: 70px;
  font-size: 28px;
  font-weight: bold;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.label {
  display: flex;
  align-items: center;
  margin-top: 5px;
  font-size: 12px;
  color: #666;
}

/* Estilização do footer da página */
footer {
  text-align: center;
  padding: 15px;
  color: white;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

footer p {
  font-size: 1.2em;
  margin-bottom: 5px;
}

footer img {
  width: 200px;
}

/* Estilização da animação .fade-in-element */

.fade-in-element {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.fade-in-element.visible {
  opacity: 1;
}

/* Barra de carregamento  após preencher o formulário */

#loader {
  text-align: center;
  margin-top: 20px;
}

.loading__text {
  font-size: 16px;
  color: #00bfff;
  margin-bottom: 8px;
  font-weight: bold;
}

.loading-bar {
  width: 250px;
  height: 20px;
  border: 2px solid #00bfff;
  background-color: #001b44;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0;
  background-color: #00bfff;
  animation: none;
  transition: width 2.5s ease-in-out;
}

@keyframes loadProgress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/*Resposividade para telas menores (abaixo de 600px) */
@media (max-width: 600px) {
  header {
    justify-content: center;
  }

  .evento-nome {
    font-size: 16px;
  }

  .menu__btn {
    font-size: 20px;
  }
  .close__btn {
    font-size: 20px;
  }

  #timer {
    justify-content: space-around;
  }

  .time__box {
    width: 60px;
    padding: 10px;
    font-size: 24px;
  }

  .label {
    font-size: 10px;
  }
}

/*Resposividade para telas maiores (acima  de 600px) */
@media (min-width: 601px) and (max-width: 768px) {
  header {
    padding: 10px 20px;
  }

  .evento-nome {
    font-size: 20px;
  }

  .inscricao__container {
    padding: 25px;
    max-width: 500px;
  }

  #timer {
    gap: 20px;
  }

  .time__box {
    width: 75px;
    padding: 18px;
    font-size: 32px;
  }

  .label {
    font-size: 13px;
  }
}
