body {
  background-color: #121212;
  color: #ffffff;
  font-family: Audiowide;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

/* Estilização do background da página */

#vanta-net {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  padding: 10px 15px;
  position: relative;
}

.evento-logo {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-texto {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.evento-nome {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.evento-local {
  font-size: 14px;
  font-weight: bold;
  color:#ffa500;
}

/* Estilização do Menu Hamburguer */

.menu__btn {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.close__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #1f1f1f;
  transition: left 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 8%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #333;
}

.sidebar.active {
  left: 0;
  opacity: 1;
  transform: translateX(0);
}

/* Estilos gerais para a seção de palestrantes */

.palestrantes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.palestrantes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 95%;
  max-width: 1200px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #1f1f1f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px;
  border: 3px solid orange;
}
.card h3 {
  font-size: 1.1rem;
  margin: 8px 0;
}

.card p {
  font-size: 0.9rem;
  color: #666;
}

.saiba-mais {
  font-family: Audiowide;
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9rem;
}

.saiba-mais:hover {
  background-color: #0056b3;
}

/* Estilos do modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 15px;
  display: block;
}

.modal-content {
  background-color: #1f1f1f;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 0.95rem;
  color: #444;
}

.social-links {
  margin-top: 15px;
}

.social-links a {
  font-size: 1.3rem;
  color: #007bff;
  margin: 0 8px;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #0056b3;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s;
}

.close:hover {
  color: #000;
}

/* Estilização do Footer  */

footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}

footer a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer p {
  font-size: 1.2em;
}

footer img {
  width: 150px;
  max-width: 80%;
  height: auto;
}

/* Estilização da animação .fade-in-element */

.fade-in-element {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.fade-in-element.visible {
  opacity: 1;
}

/* Estilização de responsividade */
@media (max-width: 600px) {
  header {
    justify-content: center;
    padding: 10px;
  }

  .evento-nome {
    font-size: 16px;
  }

  .menu__btn {
    display: block;
  }

  .palestrantes-grid {
    grid-template-columns: 1fr;
  }

  .card {
    width: 90%;
    margin: 0 auto 20px;
  }

  .modal-content {
    margin: 30% auto;
    width: 90%;
    max-width: 90%;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  header {
    padding: 10px 20px;
  }

  .evento-nome {
    font-size: 18px;
  }

  .palestrantes-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .card {
    width: 80%;
    margin: 0 auto 20px;
  }

  .modal-content {
    width: 70%;
    margin: 20% auto; /* Ajustei a margem superior */
  }
}
