body {
  background-color: #121212;
  color: #ffffff;
  font-family: Audiowide;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  padding: 10px 15px; 
  position: relative;
}

.evento-logo {
  height: 30px; 
  margin-right: 10px;
}

.evento-nome {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

/* Estilização do Menu Hamburguer */

.menu__btn {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: block; 
}

.close__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #1f1f1f;
  transition: left 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 8%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #333;
}

.sidebar.active {
  left: 0;
  opacity: 1;
  transform: translateX(0);
}

/* Estilização da secção programação */

.programacao {
  max-width: 90%; 
  margin: 20px auto;
  background-color: #1f1f1f;
  padding: 15px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.palestrante-card {
  display: flex;
  align-items: center;
  background: #121212;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  flex-direction: row;
  text-align: left; 
}

.palestrante-card img {
  width: 80px;
  height: 80px; 
  border-radius: 50%;
  margin-right: 10px; 
  padding: 5px; 
}

.descricao {
  flex: 1;
}

.horario {
  font-weight: bold;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  width: auto;
  display: inline-block; 
  text-align: center;
  margin-top: 5px; 
}

footer {
  text-align: center;
  padding: 10px; 
  background: #1f1f1f;
  color: white;
  margin-top: 20px;
}

footer p {
  font-size: large; 
}

footer img {
  width: 150px; 
}

.fade-in-element {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.fade-in-element.visible {
  opacity: 1;
}

/* Responsivo para telas menores (máximo de 600px de largura) */
@media (max-width: 600px) {
  header {
    flex-direction: row;
    padding: 10px;
  }

  .evento-logo {
    height: 30px;
    margin-right: 5px;
  }

  .evento-nome {
    font-size: 16px;
  }

  .menu__btn {
    display: block; 
  }

  .palestrante-card {
    flex-direction: column;
    text-align: center;
  }

  .palestrante-card img {
    margin-bottom: 10px;
    margin-right: 0; 
  }

  .horario {
    width: 100%; 
    margin-top: 10px;
  }

  footer p {
    font-size: 1em; 
  }

  footer img {
    width: 100px; 
  }
}

/* Responsivo para telas médias (entre 601px e 768px de largura) */
@media (min-width: 601px) and (max-width: 768px) {
  header {
    padding: 10px 20px;
  }

  .evento-nome {
    font-size: 20px;
  }

  .palestrante-card {
    flex-direction: row;
    text-align: left;
  }

  .palestrante-card img {
    margin-right: 15px;
  }

  .horario {
    width: 120px; 
  }

  footer p {
    font-size: 1.1em;
  }

  footer img {
    width: 180px;
  }
}