body {
  background-color: #121212;
  color: #ffffff;
  font-family: Audiowide;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

/* Estilização do background da página */

#vanta-net {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Estilização do Header da página */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  padding: 10px 15px;
  position: relative;
}

.evento-logo {
  height: 30px;
  margin-right: 10px;
}

.evento-nome {
  font-size: 18px;
  font-weight: bold;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-texto {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.evento-nome {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.evento-local {
  font-size: 14px;
  font-weight: bold;
  color: #4fc3f7; /* Azul claro chamativo */
}
/* Estilização do Menu Hamburguer */

.menu__btn {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.close__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #1f1f1f;
  transition: left 0.3s ease;
  padding-top: 60px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  border-radius: 8%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #333;
}

.sidebar.active {
  left: 0;
  opacity: 1;
  transform: translateX(0);
}

/* Estilização da seção de informações do evento */

.evento__info {
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

/* Estilização da seção sobre o evento */

.sobre {
  text-align: justify;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

/* Estilização do botão inscrever - se */

.inscrever {
  text-align: center;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.inscricao__btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  font-family: Audiowide;
  font-size: 18px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;
  background: linear-gradient(270deg, #0f0, #00f, #f0f, #0f0, #00f, #f0f, #0f0);
  background-size: 1000% 100%;
  animation: scrollGradient 10s linear infinite;
  width: 80%;
  max-width: 350px;
}

/*  Animação de clique */

.inscricao__btn:active {
  transform: scale(0.95);
  transition: transform 0.2s ease;
}

/* Estilização da seção de eventos anteriores */

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.event-card {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
}

.event-card:hover {
  transform: scale(1.02);
}

.event-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 10px;
  border-radius: 50%;
}

.event-card a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.event-date {
  color: #555;
  font-size: 0.9em;
  margin-bottom: 5px;
}

/* Estilização da seção contatos */

.contatos {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 25px;
}

.social__btn {
  width: 60px;
  height: 60px;
  background: #007bff; /* cor padrão antes do hover */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease,
    border 0.3s ease;
  border: 2px solid transparent;
}

.social__btn:hover {
  transform: scale(1.2);
  border-color: #a3c8f7;
}

/* Cores ao passar o mouse */

.social__btn.twitter:hover {
  background-color: #000;
}

.social__btn.instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.social__btn.linkedin:hover {
  background-color: #0077b5;
}

.social__btn.youtube:hover {
  background-color: #ff0000;
}

.social__btn.email:hover {
  background-color: #6c757d;
}

/* Estilização do Footer  */

footer {
  text-align: center;
  padding: 15px;
  margin-top: 15px;
  font-size: 14px;
}

footer a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer p {
  font-size: large;
}

footer img {
  width: 150px;
}

/* Estilização da animação .fade-in-element */

.fade-in-element {
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.fade-in-element.visible {
  opacity: 1;
}

/* Estilização do botão bolha para levar as pessoas até o menu */

.botao__bolha {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #007bff;
  color: white;
  padding: 12px 15px;
  margin: 20px;
  border: none;
  border-radius: 50px;
  font-family: Audiowide;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 5px;
}

.botao__bolha:hover {
  transform: scale(1.03);
  background: #0056b3;
}

.botao__bolha.visible {
  opacity: 1;
  pointer-events: auto;
}

.botao__bolha.hidden {
  opacity: 0;
  pointer-events: none;
}

.menu__btn.pulse {
  animation: pulse 2s ease-in-out infinite;
}

/* Estilização da bolinha de notificação encima do  menu hamburguer */

.notificacao {
  position: absolute;
  top: 15px;
  left: 35px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  animation: piscar 1s infinite;
  z-index: 1001;
  pointer-events: none;
  display: none;
}

/* Animação de destaque no botão do menu */

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}

@keyframes piscar {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Animação do botão de inscrição */

@keyframes scrollGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

/* Estilo de responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: row;
    justify-content: center;
    padding: 8px;
  }
  .evento-nome {
    font-size: 16px;
  }
  .evento-info {
    padding: 12px;
    margin: 8px;
  }

  .sobre {
    padding: 12px;
    margin: 8px;
  }

  .inscricao__btn {
    padding: 10px 20px;
    font-size: 16px;
    width: 90%;
  }

  .contatos {
    gap: 15px;
    padding: 20px;
  }

  .social__btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  footer p {
    font-size: medium;
  }

  footer img {
    width: 120px;
  }

  .botao__bolha {
    padding: 10px 12px;
    font-size: 12px;
  }
}

/* Para telas ainda menores */
@media (max-width: 600px) {
  /* Estilos para telas com largura máxima de 600px */
  .evento-nome {
    font-size: 16px;
  }
  .menu__btn {
    font-size: 20px;
  }
  .close__btn {
    font-size: 20px;
  }
  .event-card img {
    width: 100px;
    height: 100px;
  }
  .contatos {
    gap: 12px;
    padding: 15px;
  }
  .social__btn {
    width: 45px;
    height: 45px;
    font-size: 18px;
  }
  footer p {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  footer img {
    width: 200px;
  }
  .botao__bolha {
    font-size: 10px;
  }
}
